#page_layout{
	width: 800px;
	height: 800px;
	background-color: #E6E6E6;

	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -400px;
}

#log_out{
    width: 100px;
	height: 30px;
	font-size: 18px;

   position: absolute;
   left: 80%;
   top: 50%;
   margin: -15px 0px 0px 0px;

}

#menu_area{
	width: 780px;
	height: 100px;
	background-color: #D8D8D8;

	position: absolute;
	left: 10px;
	top: 10px;
}
.menu_buttons{
	width: 200px;
	height: 50px;
	font-size: 20px;
}
#book_add_button{
    width:100px;
    height:50px;
    font-size: 20px;
    position: absolute;
	right: 5%;
}
#book_modify_button{
    width:100px;
    height:50px;
    font-size: 20px;
    position: absolute;
	right: 20%;
}
#book_rent_button{
    width:100px;
    height:50px;
    font-size: 20px;
    position: absolute;
	right: 35%;
}
#book_manage_button{
	position: absolute;
	left: 3%;
	top: 15%;
}
#user_manage_button{
	position: absolute;
	left: 30%;
	top: 15%;
}

#result_area{
	width: 780px;
	height: 670px;
	background-color: #D8D8D8;

	position: absolute;
	left:10px;
	top:120px;
}