#page_layout{
	width: 800px;
	height: 800px;
	background-color: #E6E6E6;

	position: absolute;
	left: 50%;
	margin: 0px 0px 0px -400px;
}
#menu_area{
	width: 780px;
	height: 50px;
	background-color: #D8D8D8;

	position: absolute;
	left : 10px;
	top : 10px;
}
#search_guide_text{
	position: absolute;
	left: 150px;

}
#search_textbox{
	width: 300px;
	height: 30px;
	font-size: 18px;

	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0px 0px -150px;
}
#search_button{
	width: 50px;
	height: 30px;
	font-size: 18px;

	position: absolute;
	left: 70%;
	top: 50%;
	margin: -15px 0px 0px 0px;
}

#user_manage{
    width: 100px;
	height: 30px;
	font-size: 18px;

   position: absolute;
   left: 2%;
   top: 50%;
   margin: -15px 0px 0px 0px;

}

#log_out{
    width: 100px;
	height: 30px;
	font-size: 18px;

   position: absolute;
   left: 80%;
   top: 50%;
   margin: -15px 0px 0px 0px;

}

#result_area{
	width: 780px;
	height: 720px;
	background-color: #D8D8D8;

	position: absolute;
	left : 10px;
	top : 70px;
}

.book_data{
	width: 760px;
	height: 100px;
	background-color: #FAFAFA;

}

.book_info_text{
	height: 20px;
	font-size: 14px;

}

.book_title{
	position: absolute;
	top: 10px;
	left: 10px;
}


.book_writer{
	position: absolute;
	top: 40px;
	left: 10px;

}

.book_publisher{
	position: absolute;
	top: 70px;
	left: 10px;

}

.book_total{
	position: absolute;
	top: 10px;
	left: 300px;
}

.book_rented{
	position: absolute;
	top: 40px;
	left: 300px;
}


#first_book{
	position: absolute;
 	left: 10px;
	top: 10px;
}

#second_book{
	position: absolute;
	left: 10px;
	top: 130px;
}

#third_book{
	position: absolute;
	left: 10px;
	top: 250px;
}


#fourth_book{
	position: absolute;
	left: 10px;
	top: 370px;
}

#fifth_book{
	position: absolute;
	left: 10px;
	top: 490px;
}


#sixth_book{
	position: absolute;
	left: 10px;
	top: 610px;
}

