#page_layout{
	width: 400px;
	height: 400px;
	background-color: #E6E6E6;

	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0px 0px -200px;
}

.textbox{
	width: 195px;
	height: 30px;

}

#find_id_area{
	width: 380px;
	height: 150px;
	background-color: #D8D8D8;

	position: absolute;
	left: 10px;
	top: 10px;
}
#text_findid{
	font-size: 14px;

	position: absolute;
	left: 10px;
	top: 50px;
}
#textbox_idname{
	position: absolute;
	left: 45%;
	top: 60px;

}
#button_findid{
	height: 30px;

	position: absolute;
	left: 85%;
	top: 100px;

}



#find_pw_area{
	width: 380px;
	height: 220px;
	background-color: #D8D8D8;

	position: absolute;
	left: 10px;
	top: 170px;

}
#text_findpw_name{
	font-size: 14px;
	position: absolute;
	left: 10px;
	top: 50px;
}

#textbox_pwname{
	position: absolute;

	left: 45%;
	top: 60px;

}
#text_findpw_ID{
	font-size: 14px;
	position: absolute;
	left: 10px;
	top: 110px;
}
#textbox_pwid{
	position: absolute;

	left: 45%;
	top: 120px;

}
#button_findpw{
	height: 30px;
	position: absolute;


	left: 85%;
	top: 160px;
}